body {
    width: 100%;
}
#trail {
    width: 300px;
    height: 400px;
    float: left;
margin: 1em 0 1em 0;
}

#map {
width: 500px;
height: 400px;
float: right;
clear: after;
margin: 1em 0 1em 0;
visibility: hidden;
}

.leaflet-container {
    background: #fff;
}

#description {
    clear: both;
}
#header {
    clear: both;
}

#dirt {
    clear: both;
    margin: 3em auto;
}

#dirt div {
    float: left;
    max-width: 200px;
    margin: 0;
}

#dirt div p {
    text-align: center;
}

#nav {
    width: 100%;
}
