<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Ellie Harmon" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/dirt-map/stylesheets/stylesheet.css" type="text/css" media="screen, projection" />

</head>
<body>


<div class="site">
  <div class="title">
    <a href="/dirt-map">dirt-map home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Ellie Harmon (@el-ee) &amp; Christina Agapakis
      </p>
    </div>
  </div>
</div>


</body>
</html>
